name: Build APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Gradle
        run: |
          wget https://services.gradle.org/distributions/gradle-8.4-bin.zip
          unzip gradle-8.4-bin.zip
          echo "$PWD/gradle-8.4/bin" >> $GITHUB_PATH

      - name: Build APK
        run: gradle assembleDebug

      - name: Rename APK
        run: |
          mv app/build/outputs/apk/debug/app-debug.apk narahentai.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: narahentai
          path: narahentai.apk
