name: Build APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Clone WebView Template
        run: git clone https://github.com/zabixii/Webview-apk template

      - name: Replace URL
        run: |
          sed -i 's|https://example.com|https://narahentai.pages.dev|g' template/app/src/main/java/com/example/webviewapk/MainActivity.java

      - name: Build APK
        run: |
          cd template
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: narahentai-apk
          path: template/app/build/outputs/apk/debug/*.apk
